@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-900-rgb: 15, 20, 27;
    --primary-900: rgb(var(--primary-900-rgb));/* #0E141B */
    --primary-700: #18222E;
    --primary-500: #17232D;
    --secondary: #2A4454;
    --accent: #FECD6C;
}


@layer components {
    /* GENERAL */
    .btn-accent {
        @apply cursor-pointer border-accent text-accent rounded-md border-3 transition-all hover:border-primary-500 hover:bg-primary-500 hover:text-slate-100 shadow;
    }

    .tag{
        @apply font-dmmono font-light text-sm;
    }

    .description{
        @apply text-base font-dmsans;
    }

    .title-h2{
        @apply font-dmsans font-bold text-4xl2 xs:text-5xl md:text-title uppercase;
    }

    .title-h3{
        @apply font-dmsans font-bold text-2xl
    }


    /* HEADER: links. Active & hover state. */
    .highlight-active-link{
        @apply absolute -translate-x-2/4 left-2/4 w-11 h-3px -bottom-3 content-empty invisible md:visible;
    }

    header .router-link-exact-active {
        @apply after:bg-accent after:highlight-active-link; 
    }
    
    .header-link{
        @apply relative hover:after:bg-white hover:after:highlight-active-link; 
    }


    /* SKILLS */
    .skill-item{
        @apply w-1/2 xs:w-1/3 lm:w-1/3 lg:w-1/4 text-center text-base md:text-xl font-dmsans font-bold;
    }

    .skill-item svg{
         @apply h-9 sm:h-10 w-auto mx-auto mb-3;
    }

    /* CONTACT */
    .contact-item {
        @apply max-w-xs w-full py-3 px-4 bg-primary-900 rounded-md drop-shadow-right flex;
    }

    .contact-item svg {
        @apply mr-4;
    }

    .contact-divide-line{
        @apply hidden xs:block w-px h-full bg-slate-300 opacity-50 mr-5;
    }

    .contact-item h4 {
        @apply font-dmmono leading-6 text-accent text-sm font-medium;
    }

    .contact-social {
        @apply bg-primary-900 h-12 w-12 flex items-center justify-center rounded-full;
    }

    /* PROJECTS */
}


